@model HR_App.ViewModel.EmployeeBulkVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/css/components.css" />
<link rel="stylesheet" type="text/css" href="/css/report.css" />
<link rel="stylesheet" type="text/css" href="/css/base.css" />
<link href="/css/lib/select2.min.css" rel="stylesheet" />
<link href="/css/lib/bootstrap.min.css" rel="stylesheet" />
<div class="container mt-5">

    <div class="card shadow-sm border-0" style="border-radius:15px;">

        <div class="card-header bg-primary text-white py-3">
            <h5 class="mb-0 fw-bold">
                <i class="bi bi-people-fill me-2"></i>
                تسجيل الموظفين
            </h5>
        </div>

        <div class="card-body p-4">

            <form method="post" id="employeeForm">

                <div id="employeesContainer">

                    <!-- Employee Row -->
                    <div class="employee-row border rounded-3 p-4 mb-4 bg-light">

                        <div class="row g-3">
                            <!-- Employee Code -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    كود الموظف
                                </label>

                                    <input name="Employees[0].EmployeeCode"
                                           class="form-control employee-code"
                                           placeholder="ادخل كود الموظف" />
                            </div>

                            <!-- Employee Name -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    اسم الموظف
                                </label>

                                    <input name="Employees[0].EmployeeName"
                                           class="form-control employee-name"
                                           placeholder="ادخل اسم الموظف" />
                            </div>

                            <!-- Job Title -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    الوظيفة
                                </label>

                                <input name="Employees[0].JobTitle"
                                       class="form-control"
                                       placeholder="ادخل الوظيفة" />
                            </div>

                            <!-- Role -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    الدور الوظيفي
                                </label>

                                <select name="Employees[0].RoleId"
                                        class="form-select select2 role-select">

                                    <option value="">
                                        اختر الدور
                                    </option>

                                    @foreach (var r in ViewBag.Roles as List<SelectListItem>)
                                    {
                                        <option value="@r.Value">
                                            @r.Text
                                        </option>
                                    }

                                </select>
                            </div>

                            <!-- Hire Date -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    تاريخ التعيين
                                </label>

                                <input type="date"
                                       name="Employees[0].HireDate"
                                       class="form-control hire-date" />
                            </div>
                            <!-- Hire Date -->
                            <div class="col-md-4">
                                <label class="form-label fw-bold">
                                    تاريخ التأمين
                                </label>

                                <input type="date"
                                       name="Employees[0].InsuranceStartDate"
                                       class="form-control" />
                            </div>
                            <div class="col-md-4 ">

                                <label class="form-label fw-bold">
                                    نظام الإجازات الأسبوعية
                                </label>

                                <select name="Employees[0].WeeklyOffGroupId"
                                        class="form-select"
                                        asp-items="ViewBag.WeeklyOffGroups">

                                    <option value="">
                                        -- اختر نظام الإجازات --
                                    </option>

                                </select>

                            </div>
                            <div class="col-md-4">
                                <label>رصيد الإجازة السنوي</label>
                                <input type="number" name="Employees[0].AnnualLeaveBalance" class="form-control" />
                            </div>

                            <div class="col-md-4">
                                <label>العارضة</label>
                                <input type="number" name="Employees[0].CasualLeaveBalance" class="form-control" value="7" />
                            </div>

                            <div class="col-md-4">
                                <label>الأيام المرضي المستخدمة</label>
                                <input type="number" name="Employees[0].SickLeaveUsedDays" class="form-control" value="0" />
                                <small class="text-muted">
                                   الحد الأقصى 365 يوم (12 شهر)
                                </small>
                            </div>

                            <div class="col-md-4">
                                <label>آخر تحديث للرصيد الثانوي</label>
                                <input type="date" name="Employees[0].LastLeaveBalanceUpdate" class="form-control" />
                            </div>
                           @*  <!-- Hire Date -->
                            <div class="col-md-6">
                                <label class="form-label fw-bold">
                                    تاريخ انتهاء العمل بالشركه
                                </label>

                                <input type="date"
                                       name="Employees[0].HireDate"
                                       class="form-control" />
                            </div> *@

                        </div>

                    </div>

                </div>

                <!-- Buttons -->
                <div class="d-flex gap-2 mt-4">

                    <button type="button"
                            class="btn btn-secondary flex-fill"
                            onclick="addEmployee()">

                        <i class="bi bi-plus-circle me-2"></i>
                        إضافة موظف
                    </button>

                    <button type="submit"
                            class="btn btn-success flex-fill">

                        <i class="bi bi-check-circle me-2"></i>
                        حفظ الكل
                    </button>

                </div>

            </form>

        </div>
    </div>

</div>

<script src="/js/lib/jquery-3.6.0.min.js"></script>
<script src="/js/lib/select2.min.js"></script>
<script src="/js/lib/sweetalert2@11.js"></script>

<script src="/js/lib/jquery-3.6.0.min.js"></script>
<script src="/js/lib/select2.min.js"></script>
<script src="/js/lib/sweetalert2@11.js"></script>

<script>

    $('.select2').select2();

    let index = 1;

    function addEmployee() {

        let html = `

        <div class="employee-row border rounded-3 p-4 mb-4 bg-light position-relative">

            <button type="button"
                    class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 remove-row">

                <i class="bi bi-trash"></i>

            </button>

            <div class="row g-3">

                <!-- Employee Code -->
                <div class="col-md-4">

                    <label class="form-label fw-bold">
                        كود الموظف <span class="text-danger">*</span>
                    </label>

                    <input name="Employees[${index}].EmployeeCode"
                           class="form-control employee-code"
                           placeholder="ادخل كود الموظف" />

                </div>

                <!-- Employee Name -->
                <div class="col-md-4">

                    <label class="form-label fw-bold">
                        اسم الموظف <span class="text-danger">*</span>
                    </label>

                    <input name="Employees[${index}].EmployeeName"
                           class="form-control employee-name"
                           placeholder="ادخل اسم الموظف" />

                </div>

                <!-- Job -->
                <div class="col-md-4">

                    <label class="form-label fw-bold">
                        الوظيفة
                    </label>

                    <input name="Employees[${index}].JobTitle"
                           class="form-control"
                           placeholder="ادخل الوظيفة" />

                </div>

                <!-- Role -->
                            <div class="col-md-4">

                    <label class="form-label fw-bold">
                        الدور الوظيفي <span class="text-danger">*</span>
                    </label>

                    <select name="Employees[${index}].RoleId"
                            class="form-select dynamic-role role-select">

                        <option value="">
                            اختر الدور
                        </option>

                        ${document.querySelector('select[name="Employees[0].RoleId"]').innerHTML}

                    </select>

                </div>

                <!-- Hire Date -->
                            <div class="col-md-4">

                    <label class="form-label fw-bold">
                        تاريخ التعيين <span class="text-danger">*</span>
                    </label>

                    <input type="date"
                           name="Employees[${index}].HireDate"
                           class="form-control hire-date" />

                </div>

                <!-- Insurance -->
                            <div class="col-md-4">

                    <label class="form-label fw-bold">
                        تاريخ التأمين
                    </label>

                    <input type="date"
                           name="Employees[${index}].InsuranceStartDate"
                           class="form-control" />

                </div>
                 <div class="col-md-4">
                                <label>رصيد الإجازة السنوي</label>
                                <input type="number" name="Employees[${index}].AnnualLeaveBalance" class="form-control" />
                            </div>

                            <div class="col-md-4">
                                <label>العارضة</label>
                                <input type="number" name="Employees[${index}].CasualLeaveBalance" class="form-control" value="7" />
                            </div>

                            <div class="col-md-4">
                                <label>الأيام المرضي المستخدمة</label>
                                <input type="number" name="Employees[${index}].SickLeaveUsedDays" class="form-control" value="0" />
                            </div>

                            <div class="col-md-4">
                                <label>آخر تحديث للرصيد الثانوي</label>
                                <input type="date" name="Employees[${index}].LastLeaveBalanceUpdate" class="form-control" />
                            </div>
            </div>

        </div>`;

        document.getElementById("employeesContainer")
            .insertAdjacentHTML("beforeend", html);

        $('.dynamic-role').select2();

        index++;
    }

    // حذف صف
    $(document).on('click', '.remove-row', function () {

        $(this).closest('.employee-row').remove();

    });

    // Validation
    $('#employeeForm').on('submit', function (e) {

        let isValid = true;

        let codes = [];
        let names = [];

        $('.employee-row').each(function () {

            let row = $(this);

            let code = row.find('.employee-code').val()?.trim();
            let name = row.find('.employee-name').val()?.trim();
            let hireDate = row.find('.hire-date').val();
                let role = row.find('.role-select').val();

    // remove old error
    row.find('.role-select')
        .next('.select2')
        .find('.select2-selection')
        .removeClass('is-invalid');

    // validation
    if (!role) {
        isValid = false;

        let select2Container = row.find('.role-select').next('.select2');

        select2Container.find('.select2-selection')
            .addClass('is-invalid');
    }
            // إزالة الـ invalid
            row.find('.form-control, .form-select')
                .removeClass('is-invalid');

            // Employee Code
            if (!code) {

                isValid = false;

                row.find('.employee-code')
                    .addClass('is-invalid');
            }

            // Duplicate Code
            if (code) {

                let lowerCode = code.toLowerCase();

                if (codes.includes(lowerCode)) {

                    isValid = false;

                    row.find('.employee-code')
                        .addClass('is-invalid');

                    Swal.fire({
                        icon: 'error',
                        title: 'خطأ',
                        text: 'يوجد كود موظف مكرر داخل الشاشة'
                    });

                    return false;
                }

                codes.push(lowerCode);
            }

            // Employee Name
            if (!name) {

                isValid = false;

                row.find('.employee-name')
                    .addClass('is-invalid');
            }

            // Duplicate Name
            if (name) {

                let lowerName = name.toLowerCase();

                if (names.includes(lowerName)) {

                    isValid = false;

                    row.find('.employee-name')
                        .addClass('is-invalid');

                    Swal.fire({
                        icon: 'error',
                        title: 'خطأ',
                        text: 'يوجد اسم موظف مكرر داخل الشاشة'
                    });

                    return false;
                }

                names.push(lowerName);
            }

            // Role
            if (!role) {

                isValid = false;

                row.find('.role-select')
                    .addClass('is-invalid');
            }

            // Hire Date
            if (!hireDate) {

                isValid = false;

                row.find('.hire-date')
                    .addClass('is-invalid');
            }

        });

        if (!isValid) {

            e.preventDefault();

            Swal.fire({
                icon: 'error',
                title: 'بيانات ناقصة',
                text: 'من فضلك أكمل جميع الحقول المطلوبة'
            });

            return false;
        }

    });

</script>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'تم بنجاح',
            html: '@TempData["SuccessMessage"]'
        });
    </script>
}
@if (TempData["ErrorMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'خطأ',
            html: '@Html.Raw(TempData["ErrorMessage"])'
        });
    </script>
}