/* PRINT STYLE */
@media print {

    body * {
        visibility: hidden;
    }

    #reportArea, #reportArea * {
        visibility: visible;
    }

    #reportArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .no-print {
        display: none !important;
    }
}
